.buttonStyle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 44%;
  background-color: #04B486;
  color: #08088A
}

.divButtons {
  display: flex;
  justify-content: space-around;
}